// Color variables
// ======================================================================
$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.7);
$background: #fafafa;
$dark-gray: #ddd;
$light-gray: #6c757d;



// Global
// ======================================================================
body {
  margin-top: 105px;
}



// Navbar
// ======================================================================
.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background-color: $background;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }

}



// Showcase
// ======================================================================
#showcase {
  position: relative;
  background: url('../img/mountains.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  min-height: 600px;

  .primary-overlay {
    background: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {

  #showcase {
    min-height: 500px;

    h1 {
      font-size: 4rem;
    }
  }

}



// Newsletter
// ======================================================================
@media screen and (max-width: 768px) {

  .mb-resp {
    margin-bottom: 1rem;
  }

}



// Why/About
// ======================================================================
.info-header {
  width: 50%;
  border-bottom: 1px solid $dark-gray;
}

#about {
  h5:hover {
    cursor: pointer;
  }
}



// Authors
// ======================================================================
#authors {
  img {
    margin-top: -50px;
  }

  .card {
    transition: 0.5s;
  }

  .card:hover {
    background-color: $primary;
    color: $background;

    .h5 {
      color: $background;
    }

    .fab {
      color: $background;
    }
  }
}



// Contact
// ======================================================================
.input-group-lg>textarea.form-control,
.input-group-lg>.textarea-prepend>span.input-group-text {
  height: 160px;
}